h1{
    color: #6b5702;
}

h2{
    color: #cb0a27;
}

.nav-font-30px{
    font-size: 30px;
}

.starter-template{
    text-align: center;
    margin: auto;
    border: 1px solid #FF0000;
}

.container{
    text-align: center;
    margin: auto;
}

.tasks-table{
    table-layout: fixed;
    width: 100%;
    /*text-align: center;*/
    margin: auto;
    border-collapse: collapse;
    border: 1px solid blue;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

#task-item-table{
    table-layout: fixed;
    word-wrap: break-word;
}

.task-table-title{
    width: 10%;
}

.task-table-body{
    width: 80%;
}